<div *ngIf="!addOrgMeasureShow">
  <div *ngIf="orgMeasureDetail.length > 0">
    <div *ngFor="let omd of orgMeasureDetail" class="panel panel-default">
      <div class="panel-heading" style="text-align: center">
        <h4><span class="pull-left">NQF ID: {{omd.measureInfo.nqfId}}</span>{{omd.measureInfo.name}}<span class="pull-right">Year: {{omd.orgData.reportPeriodYear}}</span></h4>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            {{omd.measureInfo.description}}
          </div>
          <div class="col-md-4">
            <sh-measure-chart [numerator]="omd.orgData.numeratorValue" [denominator]="omd.orgData.denominatorValue"></sh-measure-chart>
          </div>
          <div class="col-md-4">
            <div style="margin-left: 90px">
              <span class="pull-right glyphicon glyphicon-info-sign" style="font-size:1.4em"></span>
              <span style="float: left; clear: left; margin-left: 10px">Numerator: {{omd.orgData.numeratorValue}}</span>
              <span style="float: left; clear: left">Denominator: {{omd.orgData.denominatorValue}}</span>
            </div>
            <span style="float: left; margin-top: 40px; font-size: 1.2em"><div class="well"><strong>Your Measure Results: </strong>{{omd.orgData.numeratorValue / omd.orgData.denominatorValue | percent }}</div></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="orgMeasureDetail.length === 0" align="center" class="alert alert-danger">
    There is no measure information for this organization, please add some!
  </div>
</div>

<div *ngIf="addOrgMeasureShow">
  
  <div *ngIf="!uploadShow" class="row">
    <div class="col-md-2">
      <button class="btn" (click)="uploadViaExcel()">Upload Via Excel</button>
    </div>
  </div>
  
  <div *ngIf="uploadShow" class="row">
    <div class="col-md-2">
      <button class="btn" (click)="uploadManually()">Upload Manually</button>
    </div>
  </div>
  
  <div *ngIf="uploadShow">
  
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <div ng2FileDrop
             [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
             (fileOver)="fileOverBase($event)"
             [uploader]="uploader"
             class="well my-drop-zone">
          Upload Org Measure Data
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3>Upload queue</h3>
        <p>Queue length: {{ uploader?.queue?.length }}</p>
  
        <table class="table">
          <thead>
          <tr>
            <th width="50%">Name</th>
            <th>Size</th>
            <th>Progress</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of uploader.queue">
            <td><strong>{{ item?.file?.name }}</strong></td>
            <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
            <td *ngIf="uploader.isHTML5">
              <div class="progress" style="margin-bottom: 0;">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
              </div>
            </td>
            <td class="text-center">
              <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
              <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
              <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
            </td>
            <td nowrap>
              <button type="button" class="btn btn-success btn-xs"
                      (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                <span class="glyphicon glyphicon-upload"></span> Upload
              </button>
              <button type="button" class="btn btn-warning btn-xs"
                      (click)="item.cancel()" [disabled]="!item.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
              </button>
              <button type="button" class="btn btn-danger btn-xs"
                      (click)="item.remove()">
                <span class="glyphicon glyphicon-trash"></span> Remove
              </button>
            </td>
          </tr>
          </tbody>
        </table>
  
        <div>
          <div>
            Queue progress:
            <div class="progress" style="">
              <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
            </div>
          </div>
          <button type="button" class="btn btn-success btn-s"
                  (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
            <span class="glyphicon glyphicon-upload"></span> Upload all
          </button>
          <button type="button" class="btn btn-warning btn-s"
                  (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
            <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
          </button>
          <button type="button" class="btn btn-danger btn-s"
                  (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
            <span class="glyphicon glyphicon-trash"></span> Remove all
          </button>
        </div>

      </div>
    </div>
    
  </div>
  
  <form *ngIf="!uploadShow" class="form-horizontal" [formGroup]="orgMeasureForm" (ngSubmit)="addOrgMeasure(orgMeasureForm)" novalidate>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5 align="center">Total</h5>
          </div>
          <div class="panel-body org-panel">
            <div class="form-group" formGroupName="total">
              <label class="col-sm-2 control-label"></label>
              <div class="col-sm-4">
                <input [ngClass]="{inputError: orgMeasureForm.controls['total'].hasError('denominatorHigher')}" type="number" placeholder="Numerator" class="form-control" formControlName="numeratorValue">
              </div>
              <div class="col-sm-4">
                <input [ngClass]="{inputError: orgMeasureForm.controls['total'].hasError('denominatorHigher')}" type="number" placeholder="Denominator" class="form-control" formControlName="denominatorValue">
              </div>
              <div class="col-sm-12 alert alert-danger orgMeasureErrorBox" *ngIf="orgMeasureForm.controls['total'].hasError('denominatorHigher')">
                Numerator cannot be higher than denominator
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <select name="measureId" formControlName="measureId">
            <option [selected]="true" [disabled]="true" [value]="">Choose a measure</option>
            <option *ngFor="let m of measures" [value]="m.id"> {{m.name}} </option>
          </select>
        </div>
        <div class="form-group">
          <select name="reportPeriodYear" formControlName="reportPeriodYear" >
            <option [selected]="true" [disabled]="true" [value]="0">Choose a year</option>
            <option [value]="2014">2014</option>
            <option [value]="2015">2015</option>
            <option [value]="2016">2016</option>
            <option [value]="2017">2017</option>
            <option [value]="2018">2018</option>
            <option [value]="2019">2019</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5 align="center">Gender</h5>
          </div>
          <div class="panel-body org-panel">
            <div class="form-group" formGroupName="genderMale">
              <label class="col-sm-2 control-label">Male</label>
              <div class="col-sm-4">
                <input [ngClass]="{inputError: orgMeasureForm.controls['genderMale'].hasError('denominatorHigher')}" type="number" placeholder="Numerator" class="form-control" formControlName="genderMaleNum">
              </div>
              <div class="col-sm-4">
                <input [ngClass]="{inputError: orgMeasureForm.controls['genderMale'].hasError('denominatorHigher')}" type="number" placeholder="Denominator" class="form-control" formControlName="genderMaleDen">
              </div>
              <div class="col-sm-12 alert alert-danger orgMeasureErrorBox" *ngIf="orgMeasureForm.controls['genderMale'].hasError('denominatorHigher')">
                Numerator cannot be higher than denominator
              </div>
            </div>
            <div class="form-group" formGroupName="genderFemale">
              <label class="col-sm-2 control-label">Female</label>
              <div class="col-sm-4">
                <input [ngClass]="{inputError: orgMeasureForm.controls['genderFemale'].hasError('denominatorHigher')}" type="number" placeholder="Numerator" class="form-control" formControlName="genderFemaleNum">
              </div>
              <div class="col-sm-4">
                <input [ngClass]="{inputError: orgMeasureForm.controls['genderFemale'].hasError('denominatorHigher')}" type="number" placeholder="Denominator" class="form-control" formControlName="genderFemaleDen">
              </div>
              <div class="col-sm-12 alert alert-danger orgMeasureErrorBox" *ngIf="orgMeasureForm.controls['genderFemale'].hasError('denominatorHigher')">
                Numerator cannot be higher than denominator
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5 align="center">Age</h5>
          </div>
          <div class="panel-body org-panel">
            <div class="form-group" formGroupName="age1844">
              <label class="col-sm-3 control-label">18-44 Years</label>
              <div class="col-sm-4">
                <input [ngClass]="{inputError: orgMeasureForm.controls['age1844'].hasError('denominatorHigher')}" type="number" placeholder="Numerator" class="form-control" formControlName="age1844Num">
              </div>
              <div class="col-sm-4">
                <input [ngClass]="{inputError: orgMeasureForm.controls['age1844'].hasError('denominatorHigher')}" type="number" placeholder="Denominator" class="form-control" formControlName="age1844Den">
              </div>
              <div class="col-sm-12 alert alert-danger orgMeasureErrorBox" *ngIf="orgMeasureForm.controls['age1844'].hasError('denominatorHigher')">
                Numerator cannot be higher than denominator
              </div>
            </div>
            <div class="form-group" formGroupName="age4564">
              <label class="col-sm-3 control-label">45-64 Years</label>
              <div class="col-sm-4">
                <input [ngClass]="{inputError: orgMeasureForm.controls['age4564'].hasError('denominatorHigher')}" type="number" placeholder="Numerator" class="form-control" formControlName="age4564Num">
              </div>
              <div class="col-sm-4">
                <input [ngClass]="{inputError: orgMeasureForm.controls['age4564'].hasError('denominatorHigher')}" type="number" placeholder="Denominator" class="form-control" formControlName="age4564Den">
              </div>
              <div class="col-sm-12 alert alert-danger orgMeasureErrorBox" *ngIf="orgMeasureForm.controls['age4564'].hasError('denominatorHigher')">
                Numerator cannot be higher than denominator
              </div>
            </div>
            <div class="form-group" formGroupName="ageOver65">
              <label class="col-sm-3 control-label">65-85 Years</label>
              <div class="col-sm-4">
                <input [ngClass]="{inputError: orgMeasureForm.controls['ageOver65'].hasError('denominatorHigher')}" type="number" placeholder="Numerator" class="form-control" formControlName="ageOver65Num">
              </div>
              <div class="col-sm-4">
                <input [ngClass]="{inputError: orgMeasureForm.controls['ageOver65'].hasError('denominatorHigher')}" type="number" placeholder="Denominator" class="form-control" formControlName="ageOver65Den">
              </div>
              <div class="col-sm-12 alert alert-danger orgMeasureErrorBox" *ngIf="orgMeasureForm.controls['ageOver65'].hasError('denominatorHigher')">
                Numerator cannot be higher than denominator
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5 align="center">Ethnicity</h5>
          </div>
          <div class="panel-body org-panel">
            <div class="form-group" formGroupName="ethnicityHispanicLatino">
              <label class="col-sm-4 control-label">Hispanic/Latino</label>
              <div class="col-sm-4">
                <input [ngClass]="{inputError: orgMeasureForm.controls['ethnicityHispanicLatino'].hasError('denominatorHigher')}" type="number" placeholder="Numerator" class="form-control" formControlName="ethnicityHispanicLatinoNum">
              </div>
              <div class="col-sm-4">
                <input [ngClass]="{inputError: orgMeasureForm.controls['ethnicityHispanicLatino'].hasError('denominatorHigher')}" type="number" placeholder="Denominator" class="form-control" formControlName="ethnicityHispanicLatinoDen">
              </div>
              <div class="col-sm-12 alert alert-danger orgMeasureErrorBox" *ngIf="orgMeasureForm.controls['ethnicityHispanicLatino'].hasError('denominatorHigher')">
                Numerator cannot be higher than denominator
              </div>
            </div>
            <div class="form-group" formGroupName="ethnicityNotHispanicLatino">
              <label class="col-sm-4 control-label">Not Hispanic/Latino</label>
              <div class="col-sm-4">
                <input [ngClass]="{inputError: orgMeasureForm.controls['ethnicityNotHispanicLatino'].hasError('denominatorHigher')}" type="number" placeholder="Numerator" class="form-control" formControlName="ethnicityNotHispanicLatinoNum">
              </div>
              <div class="col-sm-4">
                <input [ngClass]="{inputError: orgMeasureForm.controls['ethnicityNotHispanicLatino'].hasError('denominatorHigher')}" type="number" placeholder="Denominator" class="form-control" formControlName="ethnicityNotHispanicLatinoDen">
              </div>
              <div class="col-sm-12 alert alert-danger orgMeasureErrorBox" *ngIf="orgMeasureForm.controls['ethnicityNotHispanicLatino'].hasError('denominatorHigher')">
                Numerator cannot be higher than denominator
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5 align="center">Race</h5>
          </div>
          <div class="panel-body org-panel">
            <div class="form-group" formGroupName="raceAfricanAmerican">
              <label class="col-sm-4 control-label">African American/Black</label>
              <div class="col-sm-4">
                <input [ngClass]="{inputError: orgMeasureForm.controls['raceAfricanAmerican'].hasError('denominatorHigher')}" type="number" placeholder="Numerator" class="form-control" formControlName="raceAfricanAmericanNum">
              </div>
              <div class="col-sm-4">
                <input [ngClass]="{inputError: orgMeasureForm.controls['raceAfricanAmerican'].hasError('denominatorHigher')}" type="number" placeholder="Denominator" class="form-control" formControlName="raceAfricanAmericanDen">
              </div>
              <div class="col-sm-12 alert alert-danger orgMeasureErrorBox" *ngIf="orgMeasureForm.controls['raceAfricanAmerican'].hasError('denominatorHigher')">
                Numerator cannot be higher than denominator
              </div>
            </div>
            <div class="form-group" formGroupName="raceAmericanIndian">
              <label class="col-sm-4 control-label">American Indian or Alaska Native</label>
              <div class="col-sm-4">
                <input [ngClass]="{inputError: orgMeasureForm.controls['raceAmericanIndian'].hasError('denominatorHigher')}" type="number" placeholder="Numerator" class="form-control" formControlName="raceAmericanIndianNum">
              </div>
              <div class="col-sm-4">
                <input [ngClass]="{inputError: orgMeasureForm.controls['raceAmericanIndian'].hasError('denominatorHigher')}" type="number" placeholder="Denominator" class="form-control" formControlName="raceAmericanIndianDen">
              </div>
              <div class="col-sm-12 alert alert-danger orgMeasureErrorBox" *ngIf="orgMeasureForm.controls['raceAmericanIndian'].hasError('denominatorHigher')">
                Numerator cannot be higher than denominator
              </div>
            </div>
            <div class="form-group" formGroupName="raceAsian">
              <label class="col-sm-4 control-label">Asian</label>
              <div class="col-sm-4">
                <input [ngClass]="{inputError: orgMeasureForm.controls['raceAsian'].hasError('denominatorHigher')}" type="number" placeholder="Numerator" class="form-control" formControlName="raceAsianNum">
              </div>
              <div class="col-sm-4">
                <input [ngClass]="{inputError: orgMeasureForm.controls['raceAsian'].hasError('denominatorHigher')}" type="number" placeholder="Denominator" class="form-control" formControlName="raceAsianDen">
              </div>
              <div class="col-sm-12 alert alert-danger orgMeasureErrorBox" *ngIf="orgMeasureForm.controls['raceAsian'].hasError('denominatorHigher')">
                Numerator cannot be higher than denominator
              </div>
            </div>
            <div class="form-group" formGroupName="raceNativeHawaiian">
              <label class="col-sm-4 control-label">Native Hawaiian or Pacific Islander</label>
              <div class="col-sm-4">
                <input [ngClass]="{inputError: orgMeasureForm.controls['raceNativeHawaiian'].hasError('denominatorHigher')}" type="number" placeholder="Numerator" class="form-control" formControlName="raceNativeHawaiianNum">
              </div>
              <div class="col-sm-4">
                <input [ngClass]="{inputError: orgMeasureForm.controls['raceNativeHawaiian'].hasError('denominatorHigher')}" type="number" placeholder="Denominator" class="form-control" formControlName="raceNativeHawaiianDen">
              </div>
              <div class="col-sm-12 alert alert-danger orgMeasureErrorBox" *ngIf="orgMeasureForm.controls['raceNativeHawaiian'].hasError('denominatorHigher')">
                Numerator cannot be higher than denominator
              </div>
            </div>
            <div class="form-group" formGroupName="raceWhite">
              <label class="col-sm-4 control-label">White</label>
              <div class="col-sm-4">
                <input [ngClass]="{inputError: orgMeasureForm.controls['raceWhite'].hasError('denominatorHigher')}" type="number" placeholder="Numerator" class="form-control" formControlName="raceWhiteNum">
              </div>
              <div class="col-sm-4">
                <input [ngClass]="{inputError: orgMeasureForm.controls['raceWhite'].hasError('denominatorHigher')}" type="number" placeholder="Denominator" class="form-control" formControlName="raceWhiteDen">
              </div>
              <div class="col-sm-12 alert alert-danger orgMeasureErrorBox" *ngIf="orgMeasureForm.controls['raceWhite'].hasError('denominatorHigher')">
                Numerator cannot be higher than denominator
              </div>
            </div>
            <div class="form-group" formGroupName="raceOther">
              <label class="col-sm-4 control-label">Other</label>
              <div class="col-sm-4">
                <input [ngClass]="{inputError: orgMeasureForm.controls['raceOther'].hasError('denominatorHigher')}" type="number" placeholder="Numerator" class="form-control" formControlName="raceOtherNum">
              </div>
              <div class="col-sm-4">
                <input [ngClass]="{inputError: orgMeasureForm.controls['raceOther'].hasError('denominatorHigher')}" type="number" placeholder="Denominator" class="form-control" formControlName="raceOtherDen">
              </div>
              <div class="col-sm-12 alert alert-danger orgMeasureErrorBox" *ngIf="orgMeasureForm.controls['raceOther'].hasError('denominatorHigher')">
                Numerator cannot be higher than denominator
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-5">
        <button type="button" class="btn btn-primary" (click)="addOrgMeasure(orgMeasureForm)">Add</button>
        <button type="button" class="btn btn-danger" (click)="cancelOrgMeasure()">Cancel</button>
      </div>
    </div>
  </form>
</div>
