<div *ngIf="!addOrgMeasureShow">
  <div *ngFor="let omd of orgMeasureDetail" class="panel panel-default">
    <div class="panel-heading" style="text-align: center">
      <h4><span class="pull-left">NQF ID: {{omd.measureInfo.nqfId}}</span>{{omd.measureInfo.name}}<span class="pull-right">RP Year: {{omd.orgData.reportPeriodYear}}</span></h4>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          {{omd.measureInfo.description}}
        </div>
        <div class="col-md-4">
          <sh-measure-chart [numerator]="omd.orgData.numeratorValue" [denominator]="omd.orgData.denominatorValue"></sh-measure-chart>
        </div>
        <div class="col-md-4">
          <div style="margin-left: 90px">
            <span class="pull-right glyphicon glyphicon-info-sign" style="font-size:1.4em"></span>
            <span style="float: left; clear: left; margin-left: 10px">Numerator: {{omd.orgData.numeratorValue}}</span>
            <span style="float: left; clear: left">Denominator: {{omd.orgData.denominatorValue}}</span>
          </div>
          <span style="float: left; margin-top: 40px; font-size: 1.2em"><div class="well"><strong>Your Measure Results: </strong>{{omd.orgData.numeratorValue / omd.orgData.denominatorValue | percent }}</div></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="addOrgMeasureShow">
  <form class="form-horizontal" (ngSubmit)="addMeasureForm.form.valid && addOrgMeasure()" #addMeasureForm="ngForm" novalidate>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5 align="center">Total</h5>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label class="col-sm-2 control-label"></label>
              <div class="col-sm-4">
                <input type="number" placeholder="Numerator" class="form-control" name="numeratorValue" [(ngModel)]="addOrgMeasureModel.numeratorValue" #numeratorValue="ngModel" required>
              </div>
              <div class="col-sm-4">
                <input type="number" placeholder="Denominator" class="form-control" name="denominatorValue" [(ngModel)]="addOrgMeasureModel.denominatorValue" #denominatorValue="ngModel" required>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <select (change)="onChange($event.target.value)" name="orgSelect" >
            <option *ngFor="let m of measures" [value]="m.id"> {{m.name}} </option>
          </select>
        </div>
        <div class="form-group">
          <select (change)="onChange($event.target.value)" name="yearSelect" >
            <option [value]="2014">2014</option>
            <option [value]="2015">2015</option>
            <option [value]="2016">2016</option>
            <option [value]="2017">2017</option>
            <option [value]="2018">2018</option>
            <option [value]="2019">2019</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5 align="center">Gender</h5>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label class="col-sm-2 control-label">Male</label>
              <div class="col-sm-4">
                <input type="number" placeholder="Numerator" class="form-control" name="genderMaleNum" [(ngModel)]="addOrgMeasureModel.genderMaleNum" #genderMaleNum="ngModel" required>
              </div>
              <div class="col-sm-4">
                <input type="number" placeholder="Denominator" class="form-control" name="genderMaleDen" [(ngModel)]="addOrgMeasureModel.genderMaleDen" #genderMaleDen="ngModel" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Female</label>
              <div class="col-sm-4">
                <input type="number" placeholder="Numerator" class="form-control" name="genderFemaleNum" [(ngModel)]="addOrgMeasureModel.genderFemaleNum" #genderFemaleNum="ngModel" required>
              </div>
              <div class="col-sm-4">
                <input type="number" placeholder="Denominator" class="form-control" name="genderFemaleDen" [(ngModel)]="addOrgMeasureModel.genderFemaleDen" #genderFemaleDen="ngModel" required>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5 align="center">Age</h5>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label class="col-sm-3 control-label">18-44 Years</label>
              <div class="col-sm-4">
                <input type="number" placeholder="Numerator" class="form-control" name="age1844Num" [(ngModel)]="addOrgMeasureModel.age1844Num" #age1844Num="ngModel" required>
              </div>
              <div class="col-sm-4">
                <input type="number" placeholder="Denominator" class="form-control" name="age1844Den" [(ngModel)]="addOrgMeasureModel.age1844Den" #age1844Den="ngModel" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">45-64 Years</label>
              <div class="col-sm-4">
                <input type="number" placeholder="Numerator" class="form-control" name="age4564Num" [(ngModel)]="addOrgMeasureModel.age4564Num" #age4564Num="ngModel" required>
              </div>
              <div class="col-sm-4">
                <input type="number" placeholder="Denominator" class="form-control" name="age4564Den" [(ngModel)]="addOrgMeasureModel.age4564Den" #age4564Den="ngModel" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">65-85 Years</label>
              <div class="col-sm-4">
                <input type="number" placeholder="Numerator" class="form-control" name="ageOver65Num" [(ngModel)]="addOrgMeasureModel.ageOver65Num" #ageOver65Num="ngModel" required>
              </div>
              <div class="col-sm-4">
                <input type="number" placeholder="Denominator" class="form-control" name="ageOver65Den" [(ngModel)]="addOrgMeasureModel.ageOver65Den" #ageOver65Den="ngModel" required>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5 align="center">Ethnicity</h5>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label class="col-sm-4 control-label">Hispanic/Latino</label>
              <div class="col-sm-4">
                <input type="number" placeholder="Numerator" class="form-control" name="ethnicityHispanicLatinoNum" [(ngModel)]="addOrgMeasureModel.ethnicityHispanicLatinoNum" #ethnicityHispanicLatinoNum="ngModel" required>
              </div>
              <div class="col-sm-4">
                <input type="number" placeholder="Denominator" class="form-control" name="ethnicityHispanicLatinoDen" [(ngModel)]="addOrgMeasureModel.ethnicityHispanicLatinoDen" #ethnicityHispanicLatinoDen="ngModel" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Not Hispanic/Latino</label>
              <div class="col-sm-4">
                <input type="number" placeholder="Numerator" class="form-control" name="ethnicityNotHispanicLatinoNum" [(ngModel)]="addOrgMeasureModel.ethnicityNotHispanicLatinoNum" #ethnicityNotHispanicLatinoNum="ngModel" required>
              </div>
              <div class="col-sm-4">
                <input type="number" placeholder="Denominator" class="form-control" name="ethnicityNotHispanicLatinoDen" [(ngModel)]="addOrgMeasureModel.ethnicityNotHispanicLatinoDen" #ethnicityNotHispanicLatinoDen="ngModel" required>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5 align="center">Race</h5>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label class="col-sm-4 control-label">African American/Black</label>
              <div class="col-sm-4">
                <input type="number" placeholder="Numerator" class="form-control" name="raceAfricanAmericanNum" [(ngModel)]="addOrgMeasureModel.raceAfricanAmericanNum" #raceAfricanAmericanNum="ngModel" required>
              </div>
              <div class="col-sm-4">
                <input type="number" placeholder="Denominator" class="form-control" name="raceAfricanAmericanDen" [(ngModel)]="addOrgMeasureModel.raceAfricanAmericanDen" #raceAfricanAmericanDen="ngModel" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">American Indian or Alaska Native</label>
              <div class="col-sm-4">
                <input type="number" placeholder="Numerator" class="form-control" name="raceAmericanIndianNum" [(ngModel)]="addOrgMeasureModel.raceAmericanIndianNum" #raceAmericanIndianNum="ngModel" required>
              </div>
              <div class="col-sm-4">
                <input type="number" placeholder="Denominator" class="form-control" name="raceAmericanIndianDen" [(ngModel)]="addOrgMeasureModel.raceAmericanIndianDen" #raceAmericanIndianDen="ngModel" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Asian</label>
              <div class="col-sm-4">
                <input type="number" placeholder="Numerator" class="form-control" name="raceAsianNum" [(ngModel)]="addOrgMeasureModel.raceAsianNum" #raceAsianNum="ngModel" required>
              </div>
              <div class="col-sm-4">
                <input type="number" placeholder="Denominator" class="form-control" name="raceAsianNum" [(ngModel)]="addOrgMeasureModel.raceAsianNum" #raceAsianNum="ngModel" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Native Hawaiian or Pacific Islander</label>
              <div class="col-sm-4">
                <input type="number" placeholder="Numerator" class="form-control" name="raceNativeHawaiianNum" [(ngModel)]="addOrgMeasureModel.raceNativeHawaiianNum" #raceNativeHawaiianNum="ngModel" required>
              </div>
              <div class="col-sm-4">
                <input type="number" placeholder="Denominator" class="form-control" name="raceNativeHawaiianDen" [(ngModel)]="addOrgMeasureModel.raceNativeHawaiianDen" #raceNativeHawaiianDen="ngModel" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">White</label>
              <div class="col-sm-4">
                <input type="number" placeholder="Numerator" class="form-control" name="raceWhiteNum" [(ngModel)]="addOrgMeasureModel.raceWhiteNum" #raceWhiteNum="ngModel" required>
              </div>
              <div class="col-sm-4">
                <input type="number" placeholder="Denominator" class="form-control" name="raceWhiteDen" [(ngModel)]="addOrgMeasureModel.raceWhiteDen" #raceWhiteDen="ngModel" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Other</label>
              <div class="col-sm-4">
                <input type="number" placeholder="Numerator" class="form-control" name="raceOtherNum" [(ngModel)]="addOrgMeasureModel.raceOtherNum" #raceOtherNum="ngModel" required>
              </div>
              <div class="col-sm-4">
                <input type="number" placeholder="Denominator" class="form-control" name="raceOtherDen" [(ngModel)]="addOrgMeasureModel.raceOtherDen" #raceOtherDen="ngModel" required>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-5">
        <button type="button" class="btn btn-primary" (click)="addOrgMeasure()">Add</button>
        <button type="button" class="btn btn-danger" (click)="cancelOrgMeasure()">Cancel</button>
      </div>
    </div>
  </form>
</div>
