<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <form (ngSubmit)="f.form.valid && resetPassword()" #f="ngForm" novalidate>
      <div class="form-group">
        <input type="password" class="form-control"  placeholder="Old Password" name="oldPassword" [(ngModel)]="model.oldPassword" #oldPassword="ngModel" required>
      </div>
      <div class="form-group" style="margin-top: 10px">
        <input type="password" class="form-control"  placeholder="New Password" name="newPassword" [(ngModel)]="model.newPassword" #newPassword="ngModel" required>
      </div>
      <div><strong>Your security question:</strong> {{securityQuestion}}</div>
      <div class="form-group" style="margin-top: 10px">
        <input type="text" class="form-control"  placeholder="Answer" name="answer" [(ngModel)]="model.answer" #answer="ngModel" required>
      </div>
      <div align="center" style="margin-top: 20px">
        <button class="btn btn-primary">Reset Password</button>
      </div>
      <div *ngIf="error" align="center" class="alert alert-danger">{{error}}</div>
    </form>
  </div>
</div>
