<div class="banner">
  <h1 class="headline">Shape Dashboard</h1>
</div>

<div class="sh-row-login">
  <div class="login-form">
    <form (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
      <div class="form-group">
        <input type="text" class="form-control"  placeholder="Username" name="username" [(ngModel)]="model.username" #username="ngModel" required>
      </div>
      <div class="form-group" style="margin-top: 10px">
        <input type="password" class="form-control"  placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel" required>
      </div>
      <div align="center" style="margin-top: 20px">
        <button class="btn btn-primary">Login</button>
        <button class="btn" (click)="forgotUsername()">Forgot Username</button>
        <button class="btn" (click)="forgotPassword()">Forgot Password</button>
      </div>
      <div *ngIf="error" align="center" class="alert alert-danger">{{error}}</div>
    </form>
  </div>
</div>
