<div class="banner">
  <h1 class="headline">Shape Dashboard</h1>
</div>

<div class="sh-row-login">
  
  <div align="center">
    <h5>Please reset your password from the temporary one you received in your email: </h5>
  </div>
  
  <div class="login-form">
    <form (ngSubmit)="f.form.valid && changePassword()" #f="ngForm" novalidate>
      <div class="form-group">
        <input type="password" class="form-control"  placeholder="Current Password" name="currentPassword" [(ngModel)]="model.currentPassword" #currentPassword="ngModel" required>
      </div>
      <div class="form-group">
        <input type="password" class="form-control"  placeholder="New Password" name="newPassword" [(ngModel)]="model.newPassword" #newPassword="ngModel" required>
      </div>
      <div align="center" style="margin-top: 20px">
        <button class="btn">Change Password</button>
      </div>
            <div *ngIf="error" align="center" class="alert alert-danger">{{error}}</div>
    </form>
  </div>
</div>
