<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <form (ngSubmit)="f.form.valid && editEmail()" #f="ngForm" novalidate>
      <div class="form-group" style="margin-top: 10px;">
        <input type="email" class="form-control"  placeholder="Email" name="email" [(ngModel)]="model.email" #email="ngModel" required>
      </div>
      <div align="center" style="margin-top: 20px">
        <button class="btn btn-primary">Edit Email</button>
      </div>
        <div *ngIf="error" align="center" class="alert alert-danger">{{error}}</div>
    </form>
  </div>
</div>
