<div *ngIf="!addOrganizationShown">
  <div class="pull-right" style="margin-bottom: 10px;"><button class="btn btn-primary" (click)="addOrganizationShow()">Add Organization</button></div>
  
  <div class="tab-pane" id="tab_default_3">
    <ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table>
  </div>
</div>

<div class="container" *ngIf="addOrganizationShown">
  <div class="col-md-6 col-md-offset-3">
    <div class="form-area">
      <form [formGroup]="addOrganizationForm" (ngSubmit)="addOrganization(addOrganizationForm)">
        <br style="clear:both">
        <h2 style="margin-bottom: 25px; text-align: center;">Add an Organization</h2>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="orgName" id="orgName" name="orgName" placeholder="Organization Name" required>
        </div>
        <div class="alert alert-danger" *ngIf="addOrganizationForm.controls.orgName.valid === false && addOrganizationForm.controls.orgName.touched">
          Name must be only in letters
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="streetAddress" id="streetAddress" name="streetAddress" placeholder="Street Address" required>
        </div>
        <div class="alert alert-danger" *ngIf="addOrganizationForm.controls.streetAddress.valid === false && addOrganizationForm.controls.streetAddress.touched">
          Street must be in correct format (ex: 23 Main St)
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="city" id="city" name="city" placeholder="City" required>
        </div>
        <div class="alert alert-danger" *ngIf="addOrganizationForm.controls.city.valid === false && addOrganizationForm.controls.city.touched">
          City must be only in letters
        </div>
        <div class="form-group">
          <select class="form-control" formControlName="state" id="state" name="state" required>
            <option *ngFor="let s of stateAbbrv" [value]="s">{{s}}</option>
          </select>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="zip" id="zip" name="zip" placeholder="Zip" required>
        </div>
        <div class="alert alert-danger" *ngIf="addOrganizationForm.controls.zip.valid === false && addOrganizationForm.controls.zip.touched">
          Zip must be five digits (ex: 12345)
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="primaryName" id="primaryName" name="primaryName" placeholder="Primary Contact Name" required>
        </div>
        <div class="alert alert-danger" *ngIf="addOrganizationForm.controls.primaryName.valid === false && addOrganizationForm.controls.primaryName.touched">
          Primary Name must be only in letters
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="primaryEmail" id="primaryEmail" name="primaryEmail" placeholder="Primary Contact Email" required>
        </div>
        <div class="alert alert-danger" *ngIf="addOrganizationForm.controls.primaryEmail.errors?.email">
          Email must be in correct format (ex: user@domain.com)
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="primaryPhone" id="primaryPhone" name="primaryPhone" placeholder="Primary Contact Phone" required>
        </div>
        <div class="alert alert-danger" *ngIf="addOrganizationForm.controls.primaryPhone.valid === false && addOrganizationForm.controls.primaryPhone.touched">
          Phone must be 10 digits in the correct format (ex: 123-456-7890)
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="primaryRole" id="primaryRole" name="primaryRole" placeholder="Primary Contact Role" required>
        </div>
        
        <button [disabled]="addOrganizationForm.invalid" type="button" id="submit" name="submit" class="btn btn-primary pull-right" (click)="addOrganization(addOrganizationForm)">Add Organization</button>
        <button type="button" class="btn btn-danger pull-right" style="margin-right: 10px;" (click)="cancelAddOrg()">Cancel</button>

      </form>
    </div>
  </div>
</div>
