<div class="banner">
  <h1 class="headline">Shape Dashboard</h1>
</div>

<div *ngIf="!questionRecieved" class="sh-row-login">
  
  <div align="center">
    <h5>Please provide your username and email below to answer a security question associated with your account:</h5>
  </div>
  
  <div class="login-form">
    <form (ngSubmit)="f.form.valid && getSecurityQuestion()" #f="ngForm" novalidate>
      <div class="form-group">
        <input type="text" class="form-control"  placeholder="Username" name="username" [(ngModel)]="model.username" #username="ngModel" required>
      </div>
      <div class="form-group">
        <input type="email" class="form-control"  placeholder="Email" name="email" [(ngModel)]="model.email" #email="ngModel" required>
      </div>
      <div align="center" style="margin-top: 20px">
        <button class="btn">Continue</button>
      </div>
            <div *ngIf="error" align="center" class="alert alert-danger">{{error}}</div>
    </form>
  </div>
</div>

<div *ngIf="questionRecieved" class="sh-row-login">
  
  <div *ngIf="!done" align="center">
    <h5>{{data.randomQuestion}}</h5>
  </div>
  
  <ng-progress *ngIf="loading" [color]="'white'" [thick]="true"></ng-progress>
  
  <div align="center" style="margin: 0 50px" class="alert alert-success" *ngIf="done">
    Your password was successfully reset. Please check your email and log in with your new password.
  </div>
  
  <div *ngIf="!done" class="login-form">
    <form (ngSubmit)="f.form.valid && resetPassword()" #f="ngForm" novalidate>
      <div class="form-group">
        <input type="text" class="form-control"  placeholder="Answer" name="answer" [(ngModel)]="questionModel.answer" #answer="ngModel" required>
      </div>
      <div align="center" style="margin-top: 20px">
        <button class="btn">Answer</button>
      </div>
            <div *ngIf="error" align="center" class="alert alert-danger">{{error}}</div>
    </form>
  </div>
</div>

