<div class="row" style="margin: 20px 0 15px 40px">
  <div class="col-md-2 col-md-offset-5">
    <form>
      <div class="form-group" *ngIf="organizations.length > 1">
        <select (change)="onOrganizationChange($event.target.value)" name="orgSelect" >
          <option *ngFor="let o of organizations" [value]="o.id"> {{o.name}} </option>
        </select>
      </div>
      <div *ngIf="organizations.length == 1">
        <h3 align="center" style="margin-right: 20px">{{organizations[0].name}}</h3>
      </div>
    </form>
  </div>
  <div class="col-md-2 col-md-offset-3" *ngIf="canAddOrganizationMeasureData">
    <button class="btn" (click)="addOrgMeasureScreen()">Add Measure Data</button>
  </div>
</div>

<div *ngIf="organizationSelected" class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="tabbable-panel">
        <div class="tabbable-line">
          <ul class="nav nav-tabs ">
            <li class="active">
              <a href="#tab_default_1" data-toggle="tab">
                Measure Input </a>
            </li>
            <li>
              <a href="#tab_default_2" data-toggle="tab">
                Past Measure Reports </a>
            </li>
            <li>
              <a href="#tab_default_3" data-toggle="tab">
                Organization Profile </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab_default_1">
              <sh-measure [orgMeasureDetail]="orgMeasureDetail"
                          [addOrgMeasureShow]="addOrgMeasureShow"
                          [measures]="measures"
                          [organizationId]="orgSelectedId"
                          (changeAddMeasureBoolean)="changeAddOrgMeasureBoolean($event)">
              </sh-measure>
            </div>
            <div class="tab-pane" id="tab_default_2">
              <sh-past-measure-reports [measures]="measures" [orgId]="orgSelectedId"></sh-past-measure-reports>
            </div>
            <div class="tab-pane" id="tab_default_3">
              <sh-org-profile [orgSelectedId]="orgSelectedId" [organizations]="organizations"></sh-org-profile>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




