<div align="center" style="margin-top: 20px">
  <form>
    <div class="form-group">
      <select (change)="onChange($event.target.value)" name="orgSelect" >
        <option selected [disabled]>Choose an organization</option>
        <option *ngFor="let o of organizations" [value]="o.id"> {{o.name}} </option>
      </select>
    </div>
  </form>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="tabbable-panel">
        <div class="tabbable-line">
          <ul class="nav nav-tabs ">
            <li class="active">
              <a href="#tab_default_1" data-toggle="tab">
                Measure Input </a>
            </li>
            <li>
              <a href="#tab_default_2" data-toggle="tab">
                Past Measure Reports </a>
            </li>
            <li>
              <a href="#tab_default_3" data-toggle="tab">
                Organization Profile </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab_default_1">
              <div class="panel panel-default">
                <div class="panel-heading" style="text-align: center">
                  <h4><span class="pull-left">NQF ID: 0018</span>Controlling High Blood Pressure<span class="pull-right">RP Year: 2014</span></h4>
                </div>
                <div class="panel-body">
                  Percentage of patients 18-85 years of age who had a diagnosis of hypertension and whose blood pressure was adequately controlled (<140/90 mmHg) during the measurement period
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" style="text-align: center">
                  <h4><span class="pull-left">NQF ID: 0018</span>Controlling High Blood Pressure<span class="pull-right">RP Year: 2014</span></h4>
                </div>
                <div class="panel-body">
                  Percentage of patients 18-85 years of age who had a diagnosis of hypertension and whose blood pressure was adequately controlled (<140/90 mmHg) during the measurement period
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab_default_2">
              <p>
              </p>
            </div>
            <div class="tab-pane" id="tab_default_3">
              <p>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




