<div align="center" style="margin-top: 20px">
  <form>
    <div class="form-group">
      <select (change)="onChange($event.target.value)" name="orgSelect" >
        <option [selected] [disabled]="true">Choose an organization</option>
        <option *ngFor="let o of organizations" [value]="o.id"> {{o.name}} </option>
      </select>
    </div>
  </form>
</div>

<div *ngIf="organizationSelected" class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="tabbable-panel">
        <div class="tabbable-line">
          <ul class="nav nav-tabs ">
            <li class="active">
              <a href="#tab_default_1" data-toggle="tab">
                Measure Input </a>
            </li>
            <li>
              <a href="#tab_default_2" data-toggle="tab">
                Past Measure Reports </a>
            </li>
            <li>
              <a href="#tab_default_3" data-toggle="tab">
                Organization Profile </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab_default_1">
              <sh-measure [orgMeasureDetail]="orgMeasureDetail"></sh-measure>
            </div>
            <div class="tab-pane" id="tab_default_2">
              <sh-past-measure-reports [measures]="measures" [orgId]="orgSelectedId"></sh-past-measure-reports>
            </div>
            <div class="tab-pane" id="tab_default_3">
              <sh-org-profile [orgSelectedId]="orgSelectedId" [organizations]="organizations"></sh-org-profile>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




